.bp {
  height: 200px;
}

.A {
  height: 40px;
  width: 40px;
  text-align: center;
}

.bi {
  font-size: 25px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.WTF
